.cvBar {
  padding-top: toRem(13);
  padding-left: toRem(36);
  padding-right: toRem(38);
  padding-bottom: toRem(13);
  display: flex;
  justify-content: flex-start;
  background-image: linear-gradient(
    180deg,
    rgba(238, 214, 249, 1) 0%,
    rgba(214, 228, 249, 1) 100%
  );
  border-radius: toRem(21);
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: toRem(80);
}

.cvBar__Title {
  font-size: clamp(toRem(24), 2vw, toRem(40));
  font-weight: 700;
  font-family: 'Inter';
  margin-right: 17%;
}

.cvBar__autoFillButton {
  padding: toRem(5) toRem(8) toRem(6) toRem(11);
  border-radius: toRem(12);
  border: none;
  margin-right: toRem(25);
  background-image: linear-gradient(
    135deg,
    rgba(162, 64, 197, 1) 0%,
    rgba(66, 141, 184, 1) 100%
  );
  font-size: toRem(18);
  font-weight: 600;
  font-family: 'Inter';
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cvBar__autoFillButton:hover,
.cvBar__saveButton:hover {
  background-image: linear-gradient(
    135deg,
    rgb(131, 48, 161) 0%,
    rgb(49, 109, 146) 100%
  );
}

.cvBar__autoFillButton > span {
  background-image: url('@svgs/autofillImage.svg');
  width: toRem(24);
  height: toRem(24);
  margin-right: 6px;
}

.cvBar__saveButton {
  padding: toRem(6) toRem(12) toRem(5) toRem(14);
  border-radius: toRem(12);
  border: none;
  background-image: linear-gradient(
    135deg,
    rgba(162, 64, 197, 1) 0%,
    rgba(66, 141, 184, 1) 100%
  );
  font-size: toRem(20);
  font-weight: 600;
  font-family: 'Inter';
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cvBar__saveButton > span {
  background-image: url('@svgs/saveImage.svg');
  width: toRem(20);
  height: toRem(20);
  margin-right: toRem(11);
}

.formBars__button {
  display: flex;
  flex-direction: column;
  border-radius: toRem(16);
  background-color: #f4f4f4;
  border: none;
  box-shadow: 0px 4px 4px $shadowColor;
  min-height: toRem(64);
}

.formBars__button:first-of-type {
  margin-bottom: toRem(14);
}

.formBars__image {
  border: none;
  background-color: transparent;
  margin-left: toRem(20);
}

.formBars__title {
  font-size: 24px;
  font-family: 'Inter';
  font-weight: 600;
  margin-left: toRem(26);
}

.formBars__dropDownIcon {
  margin-left: auto;
  margin-right: toRem(23);
  margin-top: toRem(5);
}

.formBars__draggableImage {
  width: 42px;
  height: 42px;
  border: none;
  background-color: transparent;
  margin-left: toRem(20);
  cursor: grab;
}

.formBars__draggableImage ~ .formBars__image {
  margin-left: toRem(27);
}

.formBars__iconContainer {
  display: flex;
  justify-content: start;
  min-width: 100%;
  align-items: center;
  border: none;
  min-height: toRem(58);
  padding-top: toRem(7);
  cursor: pointer;
}

.formBars__columnContainer,
.formBars__columnContainer--visible {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-height: 0px;
  align-items: center;
  min-width: 100%;
  overflow: hidden;
}

.formBars__columnContainer--visible {
  max-height: 1000px;
}

.formBars__iconContainer:has(+ .formBars__columnContainer--visible)
  > .formBars__dropDownIcon {
  transform: rotate(180deg);
}

.formBars__separator {
  height: 3px;
  margin-right: 4px;
  min-width: 94%;
  background-color: #c2c2c2;
  margin-bottom: 30px;
}
