$shadowColor: rgba(0,0,0,0.25);


@font-face {
  font-family: 'Inter';
  // Directory In Respect to main.scss
  src: url('@fonts/Inter-variable.ttf');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('@fonts/Inconsolata-variable.ttf');
}

@font-face {
  font-family: 'Inika';
  src: url('@fonts/Inika-Regular.ttf');
}


