$shadowColor: rgba(0, 0, 0, 0.25);

@font-face {
  font-family: 'Inter';
  // Directory In Respect to main.scss
  src: url('@fonts/Inter-variable.ttf');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('@fonts/Inconsolata-variable.ttf');
}

@font-face {
  font-family: 'Inika';
  src: url('@fonts/Inika-Regular.ttf');
}

@mixin separator
{
  height: 3px;
  margin-right: 4px;
  min-width: 94%;
  background-color: #c2c2c2;

}